body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.map-tile {
	width: 100%;
	height: 600px;
}

.map-tile img {
	max-width: none;
}

.new, .details h3 {
	display: inline-block;
}

.new .label, .details .label {
	margin-left: 10px;
}

.new .label-info, .details .label {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0; 
}

.new .btn.span3, .details .btn.span3 {
	margin-left: 0;
	margin-top: 10px;
}

.new .btn-group .btn {
	margin-bottom: 9px;
}

.new form .control-group {
	margin-bottom: 0px;
}

.new form legend {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 9px;
}

.new form legend + .control-group {
	margin-top: 0px;
}

.details div.span3 {
	margin-top: 10px;
	margin-left: 0px;
}

.details div .well {
	margin-left: 0px;
	margin-bottom: 0px;
	width: 100%;
}

.details li {
	margin-bottom: 10px;
}

.details strong {
	text-transform: capitalize;
}



