body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

h3 {
	display: inline-block;
}

.map-tile {
	width: 100%;
	height: 600px;
}

.details .label {
	margin-top: 10px;
}

.details div.span3 {
	margin-top: 10px;
	margin-left: 0px;
}

.details div .well {
	margin-left: 0px;
	margin-bottom: 0px;
	width: 100%;
}

.label {
	margin-left: 10px;
}

.label-info, .details .label {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0; 
}

.error1 {

	border-color: red;
	background-color: red;
}

.btn-group .btn {
	margin-bottom: 9px;
}

.control-group {
	margin-bottom: 0px;
}

form legend {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 9px;
}

legend + .control-group
{
	margin-top: 0px;
}